.purpleC {
  background: #400080;
  padding: 1rem 3rem;
}

.purpleC h2 {
  color: #fff;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.9375rem;
  padding-top: 1rem;
}

.purpleC h3 {
  color: #ffa24f;
  padding-bottom: 0.2rem;
  font-weight: 800;
  line-height: 1.9375rem;
}

.purpleC h4 {
  color: #fff;
  width: 85%;
  padding-bottom: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.whiteImg {
  display: flex;
  justify-content: flex-end;
}

.whiteC .categoryS {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
}

.categoryS h1 {
  padding-bottom: 0.7rem;
  font-weight: 900;
  line-height: 1.9375rem;
}
.categoryS h5 a {
  color: #e98f55;
  font-weight: 700;
}
.categoryS h5 {
  color: #4f4f4f;
  padding-bottom: 1.5rem;
  font-weight: 300;
  line-height: 1.5rem;
}

.categories small {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 0.875rem;
  color: #4f4f4f;
  padding-top: 0.4rem;
}

/* @media screen and (max-width: 1114px) {
  .whiteC .categoryS {
    display: flex;
    flex-direction: column;
  }
} */
@media screen and (max-width: 834px) {
  .purpleC {
    display: none;
  }

  .categoryS h1 {
    text-align: center;
  }
  .categoryS h5 {
    text-align: center;
  }
  .whiteImg {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .purpleC {
    background: #fff;
  }
}
@media screen and (max-width: 600px) {
  .whiteC .categoryS {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .categoryS h1 {
    font-size: 1.25rem;
    padding-bottom: 0px;
  }
  .categoryS h5 {
    font-size: 0.75rem;
  }
}
